.nav {
    height: 100px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
    border: 1px black solid;
}

.ul {
    display: flex;
    padding: 1rem;
}

.brand {
    text-decoration: none;
}

.logo {
    padding: 15px;
    height: auto;
    font-size: 20px;
    font-weight: 700;
    color: black;
    background: grey;
}

.name {
    padding: 0 5px;
    font-size: 20px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
}
